body {
    background-color: #007BFF; /* Blue background color */
    color: white; /* White text color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-content {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.main-content .error-message {
    color: yellow;
    font-weight: bold;
    font-size: 16px;
    margin-top: 0px;
}

.main-content h1 {
    font-size: 50px;
}

.main-content ul {
    margin: 0px;
}

.main-content ul :not(:first-child) {
    padding-top: 10px;
}

.main-content li {
    font-size: 20px;
}

.main-content a:link {
    color: #F6F6F6;
}
  
.main-content a:visited {
    text-decoration: none;
}

.main-content form {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-content form .form-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.main-content form label {
    padding-right: 5px;
}

.main-content form input {
    border-radius: 5px;
    border: 0px;
    font-size: 14px;
    padding: 5px;
}

.main-content button {
    border: none;
    background: #F6F6F6;
    mix-blend-mode: screen;
    padding: 6px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.main-content .index-button-container button {
    font-size: 25px;
    padding: 10px;
}

.container {
    text-align: center;
}

h1, h2 {
    margin: 20px 0;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: white;
    color: #007BFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
    color: white;
}